:root {
	--primaryColor: #0f0f0f;
	--secondaryColor: #1e1e1e;
	--terciaryColor: #363636;
	--whiteColor: #ffffff;
	--silverColor: #e3e4e5;
	--redColor: #742bec;
	--blueColor: #2296f5;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 20px;
	font-weight: normal;
	color: var(--whiteColor);
}

.App .title,
.App .title font {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.wrapContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	min-height: 100%;
	align-items: center;
}

.hr {
	width: 100%;
	height: auto;
	border-top: 1px solid #ccc;
	border-radius: 50%;
	border: 'none';
	margin: 10px 0;
}
