.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 1.5rem 5px;
}

.footer p{
    width: fit-content;
}

.footer a{
    color: var(--colorWhite);
    text-decoration: underline;
    margin: 0 10px;
}

.footer a:hover{
    color: var(--blueColor)
}